
/* .text{
    width: 100%;
    height: 400px;
    background-color: black;
} */
/* .text1 {
    position: absolute;
    top: 200px;
    margin-left: 500px;
    color: white;
} */
.background{
    /* background: linear-gradient(90deg, rgba(226,235,9,1) 0%, rgba(122,215,70,1) 28%); */
    /* background: linear-gradient(to right, #c31432, #240b36); */
     /* background: linear-gradient(to right, #b79891, #94716b); */
     /* background: linear-gradient(90deg, rgba(233,231,21,1) 0%, rgba(249,107,126,1) 74%); */
     background: linear-gradient(90deg, rgba(255,201,20,1) 0%, rgba(249,107,126,1) 74%);
    width: 100%;
    height: 200px;
    display: flex;
}
.child-back{
    margin: auto;
    color: white;
}
.searchBox {
    position: absolute;
    top: 350px;
    margin-left: 300px;
    width: 800px;
}

.formData {
    display: flex;
}
.wC{
    width: 200px;
}
@media only screen and (max-width: 768px) {
   .background{
    /* background: linear-gradient(90deg, rgba(226,235,9,1) 0%, rgba(122,215,70,1) 28%); */
    /* background: linear-gradient(to right, #c31432, #240b36); */
     /* background: linear-gradient(to right, #b79891, #94716b); */
     /* background: linear-gradient(90deg, rgba(233,231,21,1) 0%, rgba(249,107,126,1) 74%); */
     background: linear-gradient(90deg, rgba(255,201,20,1) 0%, rgba(249,107,126,1) 74%);
    width: 100%;
    height: 400px;
   display: flex;
 
}
.wC{
    width: 100%;
    height: 3em;
    padding-left: -20px;
}
.child-back {
    margin: auto;
    color: white;
}
.child-back2 {
    flex-direction: column;
    color: white;
}
.child-back h1{
    font-size: 23px;
}
}
